<p>Hello from LEARN Academy, <%= @resource.email %>!</p>

<p>Looks like you've requested a password reset! Just click on the link below and follow the steps!</p>

<% reset_password_link = "#{ENV['FRONTEND_APP_HOST']}new_password?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
    <button class="new-password-button">
      Choose a new password
    </button>
 <% end %>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

