<p>Hello from LEARN Academy, <%= @resource.email %>!</p>

<p>Looks like you've requested a password reset! We can help you out with that no problem. Just click on the link below and follow the steps!</p>

<% reset_password_link = "http://preworklearn-prework-frontend.heroku-app.com/new_password?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
    <button class="new-password-button">
      Choose a new password
    </button>
 <% end %>

<p>If, by chance you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

